<label for="name">Nome</label>
<input type="text" name="name" value="<%- customer.name %>" required>
<label for="age">Idade</label>
<input type="number" name="age" value="<%- customer.age %>">
<div>
  <legend>Sexo</legend>
  <input type="radio" name="gender" value="masculino">
  <label for="masculino">Masculino</label>
  <input type="radio" name="gender" value="feminino">
  <label for="feminino">Feminino</label>
</div>
<label for="billing">Potencial de compra</label>
<input type="text" name="billing" value="<%- customer.billing %>">