<div class="layout-content table">
  <div class="table-header">
    <div>
      <p>Customers</p>
    </div>
    <div>
      <a>+ Add New Customer</a>
    </div>
  </div>
  <hr>
  <table class="table-content">
    <tr class="table-content-header">
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Billing</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
    <% for (let i = 0; i < 5; i++) { %>
      <tr class="table-content-row">
        <td>Joeliton</td>
        <td>24 anos</td>
        <td>Homem</td>
        <td>R$ 2000,00</td>
        <td>03/11/2023</td>
        <td>
          <button>Editar</button>
          <button>Remover</button>
        </td>
      </tr>
    <% } %>
  </table>
</div>