<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/form.css">
  <link rel="stylesheet" href="/public/table.css">
  <link rel="stylesheet" href="/public/layout.css">
  <title>Dashboard</title>
</head>
<body>
  <nav class="side-bar">
    <a href="/" class="side-bar-header">
      <picture>
        <img src="/public/icons/engine.png">
      </picture>
      <p>DASHBOARD</p>
    </a>
    <div class="side-bar-items">
      <a href="/customers" class="side-bar-item">
        <picture>
          <img src="/public/icons/user.png" >
        </picture>
        <p>Customers</p>
      </a>
      <a href="/customers" class="side-bar-item">
        <picture>
          <img src="/public/icons/user.png" >
        </picture>
        <p>Customers</p>
      </a>
      <a href="/customers" class="side-bar-item">
        <picture>
          <img src="/public/icons/user.png" >
        </picture>
        <p>Customers</p>
      </a>
      <a href="/customers" class="side-bar-item">
        <picture>
          <img src="/public/icons/user.png" >
        </picture>
        <p>Customers</p>
      </a>
      <a href="/customers" class="side-bar-item">
        <picture>
          <img src="/public/icons/user.png" >
        </picture>
        <p>Customers</p>
      </a>
    </div>
  </nav>
  <%- include(page) %>
</body>
</html>